body{
    background: url('../_imagens/fundo\ \(2\).png');
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: right !important;
    background-attachment: fixed !important;
    overflow-x: hidden !important;

}

.menu{
    background-color: rgba(255, 255, 255, 0.85);
}
#localizacao{
    color: 	teal;
}
a:hover{
    border-bottom: 2px solid teal ;
    color: 	teal !important;
}


.logo{
    height: 10vh;
    width: 10vw;
}

.jumbotron{
    
    background-color: rgba(0, 0, 0, 0.344);
    border-radius: 10px;
    color: white;
    position: relative;
    
}

.titulo{
    color: rgb(247, 247, 247) !important;
    text-shadow: 10px 5px 5px black;
}
@media(max-width: 576.98px){
    .titulo{
    font-size: 50px !important;
    font-weight: 900;
    }

    .img{
    height:50%;
}

}
@media (min-width: 576px) and (max-width: 991.98px) {
    .titulo{
    font-size: 60px !important;
    font-weight: 900;
    }
}
@media(min-width: 992px) {
    .titulo{
    font-size: 100px !important;
    font-weight: 900;
    
    }
    .sobre{
        font-size: 1.6em !important;
    }

}  

.centro{
    margin-top: 10%;

}


.fa.icone {
font-size: 100px;
color: rgb(255, 255, 255);
animation: anima 1500ms ease infinite;
}
@keyframes anima {
    to {
        opacity: 0.1;
        transform: scale(0.85) translateY(20px);
    }
}
.conteudo{
    width: 100%;
    background-color: black;
    font-family: 'cursive', 'Times New Roman', Times, serif;
}
.sobre{
    color: white;
    font-size: 1.3em;
}
.sobreTitulo{
    font-size: 3em;
    color:teal;
}
.imagem{
    cursor: pointer;
}




.fundo_modal{
    width:100%;
    height:90%;
    background:rgba(0, 0, 0, 0.946);
    position:fixed;
    display:none;
    top:20%;
    border: solid red 3px;
}

#modal{
    margin: auto;
    padding-top: 2em;
    border: 1px solid white;
    z-index: 99;
    text-align: center;           
}

.fechar{
    font-size:1em;
    color: #fff;
    margin:20px 20px;
    top:0;
    right:0;
    
}

.modal span:hover{
    color: #900;
    margin:20px 20px;
    transition:350px;
}

.img{
    border-radius: 20px;
    margin: auto;
    z-index:99;
    width: 60%;
    height:80%;
}
.nomeModal{
    font-size: 2em;
    font-family: 'cursive', 'Times New Roman', Times, serif;
    color: rgb(191, 230, 242);
}
.margemConteudo{
    padding-top: 30px;
}
.enfeite1{
    color: #9b0963;
    
}
.enfeite2{ 
    color: #065688;
}

.botaoVermais{
    background-color: teal;
    color: white;
    border: none;
}
.botaoVermais:hover{
    background-color: white;
    color: rgb(91, 192, 222);
}
hr{
    background-color: white !important;  
}
.realizacoes{
    color: rgb(91, 192, 222);
}
.icones{
    height: 15em;
    width: 15em;
    border: solid rgb(255, 255, 255) 3px;
    border-radius: 10px;
   
}
.legenda{
    color: white;
    font-size: 1.5em;
}

.icones2{
    height: 15em;
    width: 20em;
    border: solid rgb(255, 255, 255) 3px;
    border-radius: 10px;
   
}

/* multiplos carrousel */
.cards-wrapper {
display: flex;
justify-content: center;
width: 100%;
}
.card img {
max-width: 100%;
max-height: 100%;
border-radius: 20px 20px 0px 0px;
height: 200px;
}
.card {
margin: 0 0.5em;
box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
border-radius: 20px;
font-family: 'cursive', 'Times New Roman', 'Times', 'serif';
background-color: rgba(128, 128, 128, 0.57);
color: white;

}
.carousel-inner {
padding: 1em;
}
.carousel-control-prev,
.carousel-control-next {
background-color: #e1e1e1;
width: 5vh;
height: 5vh;
border-radius: 50%;
top: 50%;
transform: translateY(-50%);
}
@media (min-width: 768px) {
    .card img {
        height: 11em;
    }
}

footer{
    width: 100%;
    background-color: rgb(43, 43, 43) ;
    margin-top: 0px;
    margin-bottom: 10px;
}
.contatos{
    color: white;
}
input{
    background-color: transparent;
    margin: 5px;
    padding-left: 3px;
}

.copyrighth{
    color: white;
    padding:10px ;
    background-color: black;
}

.linear{
    width: 100%;
    height: 100px;
    background-image: linear-gradient(transparent, black);
}
.linear2{
    width: 100%;
    height: 100px;
    background-image: linear-gradient(transparent, rgb(43, 43, 43));
}

/* Avarias pagina sobre*/

.sobreLogo{
    background-color: white;
    width: 100%;
    height:70%;
    border-radius: 20px;
}


 
/*Estilo do formulario de contato*/
.fundo{
    background-color: rgba(255, 255, 255, 0.713);
    border-radius: 20px;
    box-shadow: 4px 4px 4px 4px rgba(0.2, 0.2, 0.2, 0.2);
    max-width: 500px;
    margin-top: 40px;
    padding: 5px;
    
}
.titulo3{
    color: teal;
    
}
.formulario{
    margin: 5px;
    border: none;
    border-bottom: 3px solid teal;
    padding-left: 3px;

}
.bloco-todo{
    width: 90%;
}
.meio-todo{
    width: 48%;
}
.endereco{
    color: teal;
    margin-top: 50px;
    margin-bottom: 30px;
}
.cep{
    width: 30%;
}
.lagradouro{
    width: 58%;
}
.numero{
    width: 20%;
}
.complemento{
    width:68%
}
.cidade{
    width: 44%;
}
.estado{
    width: 44%;
}
.btn_form{
    width: 50% !important;
    background-color: teal;
    color: white;
    border: none;
    
}
.btn_form:hover{
    border: 2px solid teal;
    background-color: rgb(0, 89, 89);
    color: white;
    
}
.dados{
    color: teal;
}



input[type='radio']:checked:after {
    width: 17px;
    height: 17px;
    border-radius: 15px;
    top: -4px;
    left: -1px;
    position: relative;
    background-color: teal;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

#titulo:after{
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
   }
   /* Animação aplicada ao content referente a classe *.titulo-principal* resultando num efeito de cursor piscando. */
   
   @keyframes pisca{
       0%, 100%{
           opacity: 1;
       }
       50%{
           opacity: 0;
       }
   }
   
   
  .fundo2{
    background-color: rgba(255, 255, 255, 0.713);
    border-radius: 20px;
    box-shadow: 4px 4px 4px 4px rgba(0.2, 0.2, 0.2, 0.2);
    max-width: 100%;
    margin-top: 40px;
    padding: 5px;
    
}


.endereco2{
    color: teal;
    margin-top: 50px;
    margin-bottom: 30px;
}
.cep2{
    width: 100%;
}
.lagradouro2{
    width: 100%;
}
.numero2{
    width: 100%;
}
.complemento2{
    width:100%
}
.cidade2{
    width: 100%;
}
.estado2{
    width: 100%;
}